<div class="bg-grey">

	<div class="container">
<!-- 		<%= form_tag search_seances_path, method: :get do %>
		<%= text_field_tag :random_search, params[:random_search], class: "form-control" %>
		<%= submit_tag "search" %>
		<% end %> -->
		<%= simple_form_for :random_search, :html => { :class => 'form-inline form' }, url: search_seances_path, method: :get do |f| %>
		<%= f.input :random, class: "form-control" %>
		<%= f.submit "search" %>
		<% end %>

	</div>

	<div class="container">
		<% if @seances.size > 0 %>
			<% @seances.each do |seance| %>
				<%= link_to seance do %>
					<div class="seance-card">
						<div class="row">
							<div class="col-sm-3">
								<%= cl_image_tag seance.sport.photo, crop: :fill, class: 'media-object img-responsive' %>
							</div>
							<div class="col-sm-6">
								<div class="seance-card-title">
									<%= seance.title %>
								</div>
								<div class="seance-card-description">
									<%= seance.description %>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="seance-card-description">
									<p><%= seance.start_at.strftime("rdv le : %d/%m/%Y") %></p>
									<p><%= seance.address %></p>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<% else %>
			Oh Damn ! Il n'y a pas encore d'annonce
		<% end %>
	</div>
</div>
