<div class="seances-searchforms">
	<div class="seances-searchforms-container">
		<div class="row">
			<div class="col-md-6">
				<%= simple_form_for :random_search, :html => { :class => 'form' }, url: seances_path, method: :get do |f| %>
				<%= f.input :random, class: "form-control", label: false, placeholder: 'Que recherchez-vous ?',  input_html: { class: 'search-date-rounded', :size => 65 }%>
				<%= f.submit "search", class:'hidden' %>
				<% end %>
			</div>
		</div>
		<div class="row">
		<%= simple_form_for :search, :html => { :class => 'form' }, url: seances_path, method: :get do |f| %>
			<div class="col-md-4">
				<%= f.input :sport, collection: @sports, prompt: 'Quel sport souhaitez-vous pratiquer?', label: false, wrapper_html: { class: "searchbar-select" }, input_html: { class: 'search-sport-rounded'}%>
			</div>
			<div class="col-md-3">
				<%= f.input :address, placeholder: 'Où?', input_html: { class: 'search-departement-rounded', value: @address, :size => 25 }, label: false %>
			</div>
			<div class="col-md-3">
			  <div class="date" id='datetimepicker'>
				<%= f.input :start_at, label: false, as: :string, placeholder: 'Quand?', input_html: { class: 'search-date-rounded' }%>
				</div>
			</div>
			<div class="col-md-2">
				<%= f.submit "Rechercher", class: 'btn btn-blue btn-search-rounded btn-block' %>
			</div>
    <% end %>
    </div>	
  </div>		
</div>

<div class="seances-result">
	<div class="container">
<!-- 	  <div class="seances-result-title">
	  	<h1> Seances de sports partout en France</h1>
	  </div> -->
		<% if @seances.size > 0 %>
		<% @seances.each do |seance| %>
		<%= link_to seance do %>
		<div class="seance-card">
			<div class="row">
				<div class="col-sm-3">
					<%= cl_image_tag seance.sport.photo, crop: :fill, class: 'media-object img-responsive' %>
				</div>
				<div class="col-sm-6">
					<div class="seance-card-title">
						<%= seance.title %>
					</div>
					<%= seance.created_at.strftime("Annonce publiée le : %d/%m/%Y") %>
					<div class="seance-card-description">
						<%= seance.description %>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="seance-card-description">
						<p><%= seance.start_at.strftime("rdv le : %d/%m/%Y") %></p>
						<p><%= seance.address %></p>
						<% if seance.user != nil %>
						<p><%= seance.user.first_name %> <%= seance.user.last_name[0].capitalize %>. </p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
		<% end %>
		<% else %>
		Oh Damn ! Il n'y a pas encore d'annonce
		<% end %>
	</div>
</div>

