<%
meta title: "Sportsco. 1er réseau social du sport en France"
%>
<% content_for :navbar do %>
<%= render 'navbarone' %>
<% end %>

<div class="jumbo">
	<div class="accroche text-center">
		<h1>1er réseau social du sport en France</h1>
		<h2>Recherche des partenaires ou propose ton sport.</h2>
	</div>
	<div class="searchbar">
		<div class="row">
			<div class="searchbar-content">
				<%= simple_form_for :search, :html => { :class => 'form-inline form' }, url: seances_path, method: :get do |f| %>
				<%= f.input :sport, collection: @sports, prompt: 'Quel sport souhaitez-vous pratiquer?', label: false, wrapper_html: { class: "searchbar-select" }, input_html: { class: 'search-sport'}%>
				<%= f.input :address, placeholder: 'Où?', input_html: { class: 'search-departement', value: @address, :size => 25 }, label: false %>
				<div class="input-group date" id='datetimepicker'><%= f.input :start_at, label: false, as: :string, placeholder: 'Quand?', input_html: { class: 'search-date' }%>
				<span id="span1" class="fa fa-calendar"></span></div><%= f.submit "Rechercher", class: 'btn btn-blue btn-search' %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sports text-center">
	<h3>Recherchez des partenaires partout en France</h3>
	<p>Trouver des partenaires parmis nos annonces en fonction du créneau horaire dont vous disposez </p>
	<p>Choisissez le sport que vous souhaitez pratiquez et trouvez des partenaires disponible. Fini les excuses !</p>
</div>
